body {
    background-color: #7A2048;
    padding: 0 10px;
    margin: 40px auto;
    font-size: 20px;
    max-width: 850px;
    line-height: 1.5;
    color: #EEEEEE;

   /* text-shadow: 2px 3px 5px rgba(0,0,0,0.5);*/
    /*
    text-shadow: 
        -1px -1px 0 #000, 
        0 -1px 0 #000, 
        1px -1px 0 #000, 
        1px 0 0 #000, 
        1px 1px 0 #000, 
        0 1px 0 #000, 
        -1px 1px 0 #000, 
        -1px 0 0 #000;
        */
}

h1,
h2,
h3 {
    line-height: 1.2;
    opacity: 1.0;
    color: #EEEEEE;
    text-shadow: 
        0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1);
    
    /*  This one gives me the ability to have a psuedo-stroke around text.
        text-shadow: 
        -1px -1px 0 #000,
        0 -1px 0 #000,
        1px -1px 0 #000,
        1px 0 0 #000,
        1px 1px 0 #000,
        0 1px 0 #000,
        -1px 1px 0 #000,
        -1px 0 0 #000;
        */
}
